// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table{
  display: table;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

thead{
  display: table-header-group;

}

tr{
  display: table-row;
  vertical-align: inherit;
}

th{
  padding-bottom: 5px;
}